/* ============================================================================== */
// Розміри екрану і сайту
/* ============================================================================== */
// Ширина екрану
$maxwidth: 1280;

// Ширина обмежуючого контейнера - обгортки
$maxWidthContainer: 1140;

/* ============================================================================== */
// Кольори
/* ============================================================================== */
// Основний колір

$mainColor: rgb(41, 74, 136);

// Додатковий колір
$addColor: rgb(71, 119, 207);
/* ============================================================================== */
// Шрифти
/* ============================================================================== */

// Основний розмір шрифту
$mainFontsize: 1rem;

// Додатковий розмір шрифту
$fontSizeTitle: 1.5rem;
$fontSizeSubtitle: 1.2rem;
$fontSizeSubtitle2: 1.05rem;

// Основний шрифт
$mainFontFamily: "Merriweather", serif;

// Додатковий шрифт
$addFontFamily: "Lora", serif;

/* ============================================================================== */
// Брек пойнти
/* ============================================================================== */
